@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

:root{
    --branco: white;
    --cor-de-fundo: #ffffff;
    --fundo-senha: #00244D;
    --fundo-texto: #001E40;
    --borda: #0075FF;
    --roboto: 'Roboto', sans-serif;
    --roboto-mono: 'Roboto Mono', monospace;
}

*{
    font-weight: 400;
    margin: 0; 
    padding: 0;
}

body{
    background-color: var(--cor-de-fundo);
}

.conteudo{
    max-width: 1200px;
    margin: 0 auto;
}

.banner{
    background-image: url(Banner.png);
    height: 100%;
    width: 100%;
    background-size: 100%;
    padding: 0px 20px;
    size: 500px;
    background-repeat:no-repeat;
    color: #ffffff;
    justify-content:baseline;
}

/*Cabeçalho e Buscador*/

.title{
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;   
    color:  rgb(255, 255, 255); 
    font-size: 8em;
    text-shadow: 1%  #0c0b0b;
    display: block;
    margin-block-start: 10px;
    margin-block-end: 10px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
   }

 .subtitle{
    font-family:'Courier New', Courier, monospace;
    font-style: italic;
    text-align: center;   
    color: rgb(255, 255, 255); 
    display: block;
    font-size: 40px ;
    padding: 20px 0;
    justify-content: center;
    font-weight:lighter;
 }

 .informacional{
    font-family:'Spectral', serif;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
 }

.container{
    align-self: center;
    background-color: rgb(255, 255, 255);    
 }
 
  .form-h3{
    padding: 10px;
    margin-bottom: 1rem;
 }
 
 .form-imput{
    padding: 0.8rem;
    border:none;
    flex: 1;
 }
 
  .form-imput-container{
     display: flex;
 }

/*Lista*/

li {
    list-style-type: none;
  }

.books-list{
    color: black;
    text-align:center;
    justify-content:center;
}

 a{
    color: #000;
    text-decoration: none;
 }
 
 a:visited {
     color: #555;
 }
 
 a:hover {
     color: #999;
 }
 
 a:active {
     color: #333;
 }
